<% render 'errors' %>
<div class= "whiteboard">
<center><h2>update</h2></center>
    <center><%= form_with model: @manufacturer do |f| %>
    <p><b>Enter Manufacture Name</b><br></p>
    <%= f.text_field :name%>
    <%= f.submit "Done"%>
 <%end%>
 </center>
</div>