
<div class= "whiteboard">
<%=render partial: 'layouts/registration_confirmation', locals: {user: @user} %>

<ol>
<li> <%= link_to 'Return', new_notes_path %></li> <br>
<li> <%= link to "All Sent Emails", notes_path </li>
</ol>


</div>

