
<div class = "whiteboard">
<%= render partial: '/layouts/user_info', locals: {user: @user} %>
<h5> This is Change your access Code and Store_id. <br>
Reset account to have all accounts affected</h5>
</div>