* {
    padding:0;
    margin:0;
    transition:.05s;
  }
  
  .calculator {
    background: radial-gradient(#000 16%, transparent 17%),
      radial-gradient(#444 16%, transparent 17%) 0px 1px,
      radial-gradient(#000 16%, transparent 17%) 8px 8px,
      radial-gradient(#444 16%, transparent 17%) 8px 9px;
    background-color:#282828;
    background-size: 16px 16px; 
    height:100%;
    width:100%;
    position:fixed;
    padding:10px;
    box-shadow:
      inset 0 0 5px -1px #fff,
      inset 0 0 7px 1px #000,
      inset 0 0 5px 0 #666,
      inset 0 0 5px 0 #666
      ;
  }
  
  .display {
    position:fixed;
    left:0; right:0; margin:auto;
    height:50px; width:400px;
    background:rgba(45,45,45,1);
    box-shadow:
      inset 1px 1px 7px 0px #050505,
      0px 0px 4px 2px #000,
      0px 0px 4px 2px #777;
  }
  
  .display:hover {
    /* background:rgba(200,255,10,.1); */
    background:rgba(56,62,37,1);
    box-shadow:
      inset 1px 1px 6px 0px #050505,
      0px 0px 4px 2px #000,
      0px 0px 4px 2px #777;
  }
  
  .display input {
    background:none;
    border:none;
    outline:none;
    position:absolute;
    top:0; left:0;
    font-family: 'Audiowide', cursive;
    font-size:28pt;
    text-align: right;
    right:0; bottom:0;
    padding:0px 15px;
    color:#111;
    text-shadow: 3px 2px 0px rgba(0,0,0,.2);
  }
  
  .display:hover input {
    color:#000;
  }
  
  .whiteboard{
    color: black;
    font-size: 18pt;
    position: absolute;
    top: 5.99em; 
    right: 16.99em;
    /* bottom: 4.99em; */
    justify-content: left;
    border-style: double;
    border-width: thick;
    border-color: olive;
    background-color: olivedrab;
    opacity: 75%;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .app{
    height: 100vh;
  }
  /* -------------
  Sidebar
  ----------------*/
  .sidebar {
    position: absolute;
    //width: 33.3333%;
    width: 9em;
    height: 100%;
    top: 0;
    overflow:hidden;
    background-color: #19222a;
    -webkit-transform: translateZ(0);
    visibility: visible;
    -webkit-backface-visibility: hidden;
    
    header{
      background-color: #09f;
      width: 100%;
      display:block;
      padding: 0.75em	1em;
    }
  }
  
  /* -------------
  Sidebar Nav
  ----------------*/
  .sidebar-nav {
    position: fixed;
    //width: 13em;
    background-color: #19222a;
    height: 100%;
    font-weight: 400; 
    font-size: 1.2em;
    overflow: auto;
    padding-bottom: 6em;
    z-index: 9;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
   
    
    ul{
      list-style:none;
      display: block;
      padding: 0;
      margin: 0;
      
      li{
        margin-left: 0;
        padding-left: 0;
        //min-width: 13em;
        display:inline-block;
        width: 100%;
        
        a{
          color: rgba(255,255,255,0.9);
          font-size: 0.75em;
          padding: 1.05em	1em;
          position: relative;
          display:block;
          
          &:hover{
            background-color: rgba(0,0,0,0.9);
            @include transition(all 0.6s ease);
          }
        }
  /* -------------
  Sidebar: icons
  ----------------*/
        i{
          font-size: 1.8em;
          padding-right: 0.5em;
          width: 9em;
          display: inline;
          vertical-align:middle;
        }  
      }
    }
  
  /* -------------
  Chev elements
  ----------------*/ 
    & > ul > li > a:after {
      content: '\f125';
      font-family: ionicons;
      font-size: 0.5em;
      width: 10px;
      color: #fff;
      position: absolute;
      right: 0.75em;
      top: 45%;
    }
  /* -------------
  Nav-Flyout
  ----------------*/
    & .nav-flyout {
      position: absolute;
      background-color: #080D11;
      z-index: 9;
      left: 2.5em;
      top: 0;
      height: 100vh;
      @include transform(translateX(100%));
      @include transition(all 0.5s ease);
      
      a:hover{
        background-color: rgba(255,255,255, 0.05)
      }
    }
  
  /* -------------
  Hover
  ----------------*/
    & ul > li:hover{
        .nav-flyout{
        @include transform(translateX(0));
          @include transition(all 0.5s ease);
      }
    }
  }
  /* css for navbar */
  .nav-add{
    color:burlywood;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  /* css for "add" in nav bar */
  .nav-standout{
    color:lightgray;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  
  /* located in the calulator display */
  .error-messages{
    font-style: oblique;
    background: lightcoral;
  }
  
  li{
    color:whitesmoke;
  }
  
  .occasion-list {
    background: rgb(236,235,125);
    background: linear-gradient(90deg, rgba(236,235,125,0.42620798319327735) 0%, rgba(246,240,153,1) 35%, rgba(255,252,186,1) 100%);
    width:fit-content;
    height: 15em;
    overflow:hidden; 
    overflow-y:scroll;
  }
  
  /* works nice on show page. overlaps images */
  .details {
    position:fixed;
    top: 9em;
    right: 28em;
    float: left;
    width: 40%;
    height: 300px; /* only for demonstration, should be removed */
    background:skyblue;
    padding: 20px;
    overflow:hidden; 
    overflow-y:scroll;
    opacity: 80%;
  }
  /* only used on show page */
  .frame {
    width: 300px;
    height: 250px;
    border: 3px solid #ccc;
    background: #eee;
    margin: auto;
    padding: 15px 10px;
  }
  
  img {
    width: 100%;
    height: 100%;
  }

  .paper {padding: 37px 55px 27px;
    position: relative;
    border: 1px solid #B5B5B5;
    background: white;
    background: -webkit-linear-gradient(top, #DFE8EC 0%, white 8%) 0 57px;
    background: -moz-linear-gradient(top, #DFE8EC 0%, white 8%) 0 57px;
    background: linear-gradient(top, #DFE8EC 0%, white 8%) 0 57px;
    -webkit-background-size: 100% 30px;
    -moz-background-size: 100% 30px;
    -ms-background-size: 100% 30px;
    background-size: 100% 30px;
    justify-content: center;
    overflow:hidden; 
    overflow-y:scroll;

  }

  #instructions {font: 16px 'AmericanTypewriter'; Cambria, Georgia; 
    color: #282625; 
    margin: 0 auto; 
    width: 600px;
  font-size:x-large;
  }
.endnotes {
  overflow:hidden; 
    overflow-y:scroll;
    border-right-color:slategrey ;
    border-bottom:  lightslategrey;
    border-width: thick;
}
 

.initials {
  /* background-size: auto; */
  background-color: khaki;
  opacity: 75%;
  font-size: large;
  width:fit-content;
  height:fit-content;
}
  © 2021 GitHub, Inc.