<div class= "details">
<h2>Choose Aisle: </h2><br>
<hr>
<div class= "listings">
<% @aisles.each do |aisle| %>
    <%x=0%>
    <%=link_to "Aisle #{aisle.aisle_number}", aisle_path(aisle) %><br>
        <% aisle.occasion.each do %>
            <li><%= aisle.occasion[x]%>
            <% x+=1 %>
        <%end%>
        <br>
    <%end%>
    </div>
</div>