<div class= "details">

Aisle Number: <%= @aisle.aisle_number %>
<h4> Occasions: [total in stock] </h4>
<hr>
<%= @aisle.occasions.pluck(:name_of)%> <br>
<%= @aisle.cards.pluck(:in_stock) %>
<br>
    <hr>
</div>
