<div class= "details">

Aisle Number: <%= @aisle.aisle_number%>
<h4> Occasions: </h4>
<hr>
<% @occasions.each do |occasion| %>
    <center>
    <ul >
   <li><large><u><%= occasion.name_of %></u></large></li><br>
    <ol>
    </ol>
   </ul>
   </center> 
    <%end%><br>
    <hr>
</div>
