   <div class= "details">
<p>Notes Entered By <br>
<h5><u><%="#{(@user.employeeInit).upcase}"%></u></h5></p>
<hr>
<% @interaction.each do |interaction| %>
    <%= interaction.created_at.strftime("%A, %B %d %Y at %I:%M %P") %>
    <%= interaction.content %>

    </ol>
    <hr>
<%end%>
    <%= link_to "back", cards_path %>
</div>