    <table>
    <thead>
      <td colspan ="2">SKU <td>
      <td></td>
      <td></td>
      <td>last updated</td>
    </thead>
    <tbody>
    <%@cards.all.each do |card| %>
    <tr>
    <td colspan = "2"><%= link_to "#{card.sku}", card_path(card) %></td>
    <td></td>
    <td></td>
    <td><%= card.updated_at.strftime("%a, %B %d, %Y") %></td>

    </tr>
    <%end%>
    </tbody>
    </table>
