<div class="log-form">
  <h2>Login to your account</h2>
  <form>
    <input type="text" name="store_id" placeholder="Store ID" />
    <input type="password" title="username" placeholder="Access ID" />
    <button type="submit" class="btn">Login</button>
  </form>
</div>

<!--end log form -->