<dix class= "whiteboard">
<div class= "paper">
<section id= "instructions">
<small><center> Notes </center></small>
</section>
<center>

    <p class= "endnotes">
    <%=form_with model: @note do |f|%>
        <%= f.text_area :notes, size: "60x20"%><br>
        <div class= "initials">
        <small>signed, <%= f.text_field :employeeInit, size: "3" %></small>
        </div>
        <%= f.submit "Thank You"%>
        <%end%>
        </p></center>
</div>
</div>