<div class= "whiteboard">
<ul class= "occasion-list">
<center><% @occasion.each do |occasion| %>
    <ol>
    <li><%= button_to "delete #{occasion.name_of}", {:controller => :occasions,
    :action => 'destroy', :id => occasion.id }, :method => :delete %></li>
    <li><%= link_to "Re-name #{occasion.name_of} section", edit_occasion_path(occasion) %></li>
    <hr>
    </ol>
    <%end%>
</ul>
<%= link_to "back", cards_path %>
</center>
</div>